@model IEnumerable<SalesWebMVC.Models.NoSales>
@{
    ViewData["Title"] = "Not Sales";
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-primary">

    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.NameSeller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.NameSeller)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>